:root {
  --container-width: 1244px;
  // --container-padding: 15px;

  --font-main: "Noto Sans", sans-serif;
  --font-accent: "Montserrat", serif;

  --page-bg: #000;
  --text-color: #fff;
  --accent: #ac182c;

  --laptop-size: 1199px;
  --tablet-size: 959px;
  --mobile-size: 599px;
}

.dark {
  --page-bg: #252526;
  --text-color: #fff;
}
